{% if msg %}
<script>alert('{{ msg }}')</script>
{% endif %}

<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="HandheldFriendly" content="True" />
    <link href="https://fonts.googleapis.com/css?family=Amaranth|Audiowide|Bangers" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'style/header.css' %}">
    <link rel="shortcut icon" href="">

    {% block extrahead %}

    {% endblock %}
    <title>glug</title>
    <style>

    </style>
  </head>
  <body>
   <header style="position:fixed; width:100%;z-index:999999999;margin-top:0;">
        {% include "header.html" %}
    </header>
        
        
        {% block body_block %}
        
        {% endblock %}
        
   
    
  </body>
</html>
