<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block extrahead %}

    {% endblock %}

    <title>events_result</title>

    <style>

    </style>
    </head>
    <body>
        <h1> THIS IS A EVENTS RESULTS HOME PAGE</h1>
<ul>
        {% for text in im_form %}
        <li>{{ text }}</li>
        {% endfor %}
</ul>
        {% block body_block %}
        
        

        {% endblock %}
    
    
    
    </body>
</html>
