<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>My fake blog!</title>

  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
    integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
    crossorigin="anonymous">
</head>
<body>
<form action="{% url 'users:event_create' %}" method="post">
{% csrf_token %}
feed :
<p>
    <label for="tag">tag</label>
    <select id = "myList" name="tag">
    <option value = "ml" name="tag">Machine Learning</option>
    <option value = "cs" name="tag">Cyber Security</option>
    <option value = "wd" name="tag">Web Development</option>
    <option value = "ad" name="tag">App Development</option>
    </select>
</p>
<input type="text" name="event_name" value="event_name"><br>
<input type="text" class="datepicker" name="event_date" value="event_date"><br>
<input type="text" name="event_price" value="event_price"><br>
<input type="text" name="event_time" value="event_time"><br>
<input type="text" name="event_venue" value="event_venue"><br>
<input type="text" name="event_details" value="event_details"><br>

<input type="submit" value="login">
    
</form>
</body>
</html>