{% load static %}
{% block extrahead %}
<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
{% endblock %}

<div class="container">
        <div class="row">
        <div class="col-md-4">
            <h3>About GLUG</h3>
            <p>We are a community of open source enthusiasts and developers. 
            The website is under development phase, If you find any bug or issues,  do let us know.
            If you have a question, or if you simply want to say hi, 
            
            <a href="mailto:glugmvit@gmail.com?Subject=Regarding%20the%20Website%20&body=Hi,%20%0A%0A">Contact us here.</a>
          </p>
          </div>

          <div class="col-md-3 ml-auto">
            <h3>Links</h3>
            <ul class="list-unstyled footer-links">
              <li><a href="#home-section">Home</a></li>
              <li><a href="#courses-section">Events</a></li>
              <li><a href="https://blog.glugmvit.com/">Blogs</a></li>
              <li><a href="#programs-section">Synopsis</a></li>
              <li><a href="#team-section">Authors</a></li>
            </ul>
          </div>


          <div class="col-md-4">
            <h3>Conact Us</h3>
            <p>Sir M. Visvesvaraya Institute of Technology</p>
            <p>International Airport Road, Hunasamaranahalli, Yelahanka, Krishnadeveraya Nagar, Bengaluru, Karnataka 562157</p>
            <p>Email : <a href="mailto:glugmvit@gmail.com?Subject=Hello%20again">glugmvit@gmail.com</a></p>
          </p>
          </div>

          <!--<div class="col-md-4">
            <h3>Subscribe</h3>
            <p></p>
            <form action="#" class="footer-subscribe">
              <div class="d-flex mb-5">
                <input type="text" class="form-control rounded-0" placeholder="Email">
                <input type="submit" class="btn btn-primary rounded-0" value="Subscribe">
              </div>
            </form>
          </div>-->
        </div><hr><br>
        <div style="text-align:center;">
          <div class="sharethis-inline-follow-buttons"></div><br>
          <p class="copyright">Copyright&nbsp;&copy;&nbsp;2019&nbsp; GLUG MVIT</p>
        </div>
      </div>