{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>GLUG &mdash; MVIT</title>
    <meta charset="utf-8">
    <link rel="icon" href="/static/images/glug_mvit_logo copy.png" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="glug, mvit, glugmvit, sirmvit, smvit, vtu, foss, mozilla, microsoft">
    <meta name="description" content="We are a community of open source enthusiasts and developers,
     from Sir M. Visvesvaraya Institute of Technology">
    <meta name="theme-color" content="#7654C4">
    
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'style/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'style/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'style/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'style/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'style/owl.theme.default.min.css' %}">

    <link rel="stylesheet" href="{% static 'style/jquery.fancybox.min.css' %}">

    <link rel="stylesheet" href="{% static 'style/bootstrap-datepicker.css' %}">

    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">

    <link rel="stylesheet" href="{% static 'style/aos.css' %}">

    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    {% block extrahead %}

    {% endblock %}
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300" style="overflow-x: hidden;">
  
  <div class="site-wrap" style="overflow-x: hidden;">
{% block header %}
{% include "header.html" %}
{% endblock %}
    
    


    {% block content %}
    {% endblock %}


    <footer class="footer-section bg-white">
      {% include "footer.html" %}
    </footer>

  </div> <!-- .site-wrap -->
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>
  <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
  <script src="{% static 'js/jquery.sticky.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5d134934f67b5200124612db&product=inline-share-buttons' async='async'></script>
  </body>
</html>