{% extends "index.html" %}
{% load static %}
{% block content %}

<div class="intro-section single-cover" id="home-section">
      
      <div class="slide-1 " style="background-image: url('/static/images/img_2.jpg');" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-12">
              <div class="row justify-content-center align-items-center text-center">
                <div class="col-lg-6">
                  <h1 data-aos="fade-up" data-aos-delay="0">Hi, {{ user.username }}</h1>
                  <p data-aos="fade-up" data-aos-delay="100">We are a community of  <a href="" class="text-white">{{ total_user_count }} members </a> and counting</p>
                </div>
                
                
              </div>
              <div class=" text-center">
              <a href="{% url 'users:dashboard_edit' %}"><input type="submit" data-aos="fade-up" data-aos-delay="100" class=" btn btn-outline-info text-center" style="align:right;" name="ev_submit" value=" Edit Your Profile " /></a>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>

<div class="site-section bg-light" id="event_create_section">
          <div class="container">

            <div class="row justify-content-center">
              <div class="col-md-7">



                <h2 class="section-title mb-3">Profile Details</h2><br><br>
                <h4>Name : {{ user.first_name }}&nbsp;&nbsp;{{ user.last_name }} </h4>
                <h4>Date of Birth : {{ user.dob }}</h4>
                <h4>USN : {{ user.usn }}</h4>
                <h4>Sem : {{ user.sem }}</h4>
                <h3>I am ,<h3>
                <h4>{{ user.desc }}</h4>
                <h4 class="mb-5">Email : {{ user.email }} &nbsp;&nbsp;{% if not user.emailVerified %}<p>Check your email to verify your account</p>{% endif %}</h4>
                <h4>Contact Number : {{ user.contact_number }}</h4>
                <!--<form method="post" action="{% url 'users:dashboard' %}" data-aos="fade" enctype="multipart/form-data">
                {% csrf_token %}
                  <div class="form-group row">
                    <div class="col-md-12">
                      <input type="text" name="event_name" class="form-control" placeholder="Name of the Event" required>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-md-6 mb-3 mb-lg-0">
                      Upload your picture : 
                    </div>
                    <div class="col-md-6">
                      <input type="file" name="img_event" class="form-control" placeholder="">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <div class="col-md-4 mb-3 mb-lg-0">
                      <input type="text" name="event_date" class="form-control datepicker" placeholder="Click to Select a date" >
                    </div>
                    <div class="col-md-4">
                      <input type="text" name="event_time" class="form-control" placeholder="Time of the Event" >
                    </div>
                    <div class="col-md-4">
                      <input type="text" name="event_venue" class="form-control" placeholder="Venue" >
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-md-12">
                      <input type="text" name="event_price" class="form-control" placeholder="Registration Fee" required>
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-md-12">
                      <input type="text" name="event_headline" class="form-control" placeholder="Brief headline to be displayed... in 100 words" maxlength="100" required>
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <div class="col-md-12">
                      <textarea class="form-control" name="event_details" cols="30" rows="10" placeholder="Write Details ot the Event..."></textarea>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-md-12">
                      <input type="text" name="tag" class="form-control" placeholder="Tags : Separate all tags by comma">
                      <p>Tag : App,Web,ML,AI,Data Science,Anything New</p>
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-md-12">
                      <input type="email" class="form-control" placeholder="{{ user.email }}" disabled/>
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <div class="col-md-12">
                      <input type="number" name="contact_number" class="form-control" placeholder="Enter the Contact number" required>
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-md-12">
                      <input type="submit" class="btn btn-outline-primary py-3 px-6 ml-auto " value="Create Event">&nbsp;&nbsp;&nbsp;
                      <a href="{% url 'users:cancel' %}"><input target="" type="button" class="btn btn-outline-danger py-3 px-6 nl-auto" value="Cancel"></a>
                    </div>
                  </div>
                </form>
                -->
                {{ users_profile.email }}
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}