<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>My fake blog!</title>

  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
    integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
    crossorigin="anonymous">
</head>
<body>
<form action="{% url 'users:data_feed' %}" method="post">
{% csrf_token %}
feed :
<input type="text" name="name"><br><br>
<input type="number" name="verified"><br><br>
<input type="text" name="l_name"><br><br>

<input type="submit" value="login">
    
</form>
</body>
</html>